<div class="py-8">
  {% paginate blog.articles by section.number_blog_posts %}
    <h1 class="text-center text-3xl">{{ blog.title }}</h1>
    <div class="max-w-5xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for article in blog.articles %}
          <div class="w-full py-6 px-3">
            <div class="bg-white overflow-hidden shadow-xl rounded-lg hover:shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1">
              {% if article.image %}
                <a href="{{article.url}}">
                  <img
                    class="w-full h-80 object-cover"
                    src="{{article.image |  img_url: 'medium'}}"
                    alt="{{article.image.alt}}"
                    class="">
                {% else %}
                  {{ image | placeholder_svg_tag: 'w-full h-60 object-cover bg-gray-100' }}
                </a>
              {% endif %}
              <div class="py-2 px-2">
                <h1 class="text-xl font-medium py-3">{{ article.title }}</h1>
                {% if article.excerpt.size > 0 %}
                  <p>{{ article.excerpt | strip_html | truncatewords: 15 }}</p>
                {% else %}
                  {% if section.settings.show_blog_content %}
                    <p>
                      {{ article.content | truncatewords: 15 | strip_html }}
                    </p>
                  {% endif %}
                {% endif %}
                <a href="{{article.url}}" class="font-medium text-blue-600 hover:text-blue-300 mb-2 block">{{ section.settings.article_read_more_button }}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% render 'pagination'
      , 
 paginate: paginate
      , 
 aria_label: 'Blog posts pagination' %}
  {% endpaginate %}
</div>


{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "range",
        "id": "number_blog_posts",
        "label": "Blog per posts",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 3
      },
      {
        "type": "text",
        "id": "article_read_more_button",
        "label": "Read More",
        "default": "Read more"
      },
      {
        "type": "checkbox",
        "id": "show_blog_content",
        "label": "Show blog content",
        "default": true
      }

    ]
  }
{% endschema %}